# PROGRAMMING ASSIGNMENT 4

In [10]:
#ANSWER 1:
def ans1():
    """
    function returns factorial for given number
    """
    try:
        num = int(input("Enter a number: "))

        factorial = 1

        if num < 0:
            return "Sorry, factorial does not exist for negative numbers"
        elif num == 0:
            return "The factorial of 0 is 1"
        else:
            for i in range(1,num + 1):
                factorial *= i
            return factorial
            
    except Exception as e:
        print("enter value as int only. ", e)

In [11]:
ans1()

Enter a number: 8

40320

In [12]:
ans1()

Enter a number: 0

'The factorial of 0 is 1'

In [13]:
ans1()

Enter a number: -345678

'Sorry, factorial does not exist for negative numbers'

In [14]:
ans1()

Enter a number: dfgvhbjn
enter value as int only.  invalid literal for int() with base 10: 'dfgvhbjn'

In [39]:
def ans2():
    """
    this function prints the multiplication table of int a upto int b.
    """
    try:
        a=int(input("enter the number you want multiplication table for: "))
        b=int(input("enter the number upto which you want multiplication table: "))
        if a>0 and b>0:
            for i in range(1,b+1):
                print(a,'x',i,'=',a*i)
        else:
            return " enter number greater than 0"
        
    except Exception as e:
        print("enter number as int only. ", e)

In [40]:
ans2()

enter the number you want multiplication table for: 2
enter the number upto which you want multiplication table: 11
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22

In [41]:
ans2()

enter the number you want multiplication table for: 3
enter the number upto which you want multiplication table: 0

' enter number greater than 0'

In [42]:
ans2()

enter the number you want multiplication table for: 234567
enter the number upto which you want multiplication table: asdfgh
enter number as int only.  invalid literal for int() with base 10: 'asdfgh'

In [43]:
#ANSWER 3:

def ans3():
    """
    this function returns the fabonacci series
    """
    try:
        a=int(input("enter the number you want fabonacci series upto: "))
        b=0
        c=1
        for i in range(a):
            yield b,i
            b,c= c,b+c
            
    except Exception as e:
        print(e)

In [45]:
for i in ans3():
    print(i)

enter the number you want fabonacci series upto: 4
(0, 0)
(1, 1)
(1, 2)
(2, 3)

In [47]:
for i in ans3():
    print(i)

enter the number you want fabonacci series upto: wsdefrghj
invalid literal for int() with base 10: 'wsdefrghj'

In [30]:
#ANSWER 4:

def ans4():
    """
    this functions returns whether the number is armstrong number or not
    """
    try:
        
        n=int(input("enter number: "))
        order=len(str(n))
        sum = 0
        temp = n
        
        while temp > 0:
            digit = temp % 10
            sum += digit ** order
            temp //= 10
            
            
        if n == sum:
            return "number is armstrong number"
        
        else:
            return "number is not a armstrong number"
        
    except Exception as e:
        print(e)

In [31]:
ans4()

enter number: 153

'number is armstrong number'

In [32]:
ans4()

enter number: 23456789

'number is not a armstrong number'

In [33]:
ans4()

enter number: dfghj
invalid literal for int() with base 10: 'dfghj'

In [40]:
#ANSWER 5:

def ans5():
    """
    this function returns armstrong numbers in a given range
    """
    try:
        
        a=int(input("enter lower interval range: "))
        b=int(input("enter upper interval range: "))
        
        for i in range(a, b + 1):
            order = len(str(i))
            sum = 0
            temp = i
            
            while temp > 0:
                digit = temp % 10
                sum += digit ** order
                temp //= 10

            if i == sum:
                print(i)
            
    except Exception as e:
        print(e)

In [41]:
ans5()

enter lower interval range: 10
enter upper interval range: 1000
153
370
371
407

In [42]:
ans5()

enter lower interval range: 0
enter upper interval range: jhg
invalid literal for int() with base 10: 'jhg'

In [46]:
#ANSWER 6:

def ans6():
    """
    this function returns sum of n natural numbers
    """
    try:
        n=int(input("enter value for n: "))
        sum=0
        if n>1:
            for i in range(1,n+1):
                sum+=i
            return sum
        elif n==1:
            return "the sum is 1"
        else:
            return "enter value >=1"
        
    except Exception as e:
        print(e)

In [47]:
ans6()

enter value for n: 5

15

In [48]:
ans6()

enter value for n: 1

'the sum is 1'

In [49]:
ans6()

enter value for n: 0

'enter value >=1'

In [50]:
ans6()

enter value for n: 098765e43
invalid literal for int() with base 10: '098765e43'